@using Microsoft.AspNetCore.Html
@model IEnumerable<coreBasic.Entities.cListaCheck>
@{
    ViewData["Title"] = "Admin";
}
@section Scripts{
 <script src="~/js/admin/gestionrolesyreglas.js?n=5"></script>
 }
 @{
    string resultado = string.Empty;
    string strListaChecks = ViewBag.ListaTodasReglasPorNivel;
     if (strListaChecks != null)
     {
           resultado += "<input type=\"hidden\" id=\"hiddenListaTodasReglasPorNivel\" value=\"" + System.Net.WebUtility.HtmlEncode(strListaChecks) + "\" />";
     }
     WriteLiteral(resultado);
}
<h2>Roles y reglas</h2>
<div id="divSectorArbol" ></div>
<!-- @{
      Func<coreBasic.Entities.cListaCheck, IHtmlContent> GraficarRow = 
        @<tr>
            <td>
              <span style="margin-left: @(item.Nivel * 1)em"></span>   @item.descripcion
            </td>
            <td>
                @Html.CheckBox("chkActivar_" + Convert.ToString(item.id), false)
            </td>
            <td> 
              @{ if (item.checkAgregar == 0){
                      @Html.CheckBox("chkAgregar_" + Convert.ToString(item.id), false)
                }
                }
            </td>
              <td>
               @{  if (item.checkEditar == 0){
                       @Html.CheckBox("chkEditar_" + Convert.ToString(item.id), false)
                }}
              </td>
               <td>
                @{ if (item.checkEliminar == 0){
                       @Html.CheckBox("chkEliminar_" + Convert.ToString(item.id), false)
                }}
              </td>
              <td>
               @item.palabra
            </td>
        </tr>; 
}
 <table class="table table-striped">
    <thead>
        <tr>
            <th>
                Reglas
            </th>
            <th>
                <div class="texto-vertical">
                    Activa
                </div>
            </th>
            <th>
                <div class="texto-vertical">
                    Agregar
                </div>
            </th>
            <th>
                <div class="texto-vertical">
                    Editar
                </div>
            </th>
            <th>
                <div class="texto-vertical">
                    Eliminar
                </div>
            </th>
            <th>
                Clave
            </th>
        </tr>
    </thead>
     <tbody>
@foreach (var item in Model) {
    @GraficarRow(item)
}
</tbody>
</table> -->

